[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websocket-client = "*"
python-dotenv = "*"
dadjokes = "*"
spotipy = "*"
udpy = "*"
requests = "*"

[dev-packages]
aws-cdk-core = "*"
aws-cdk-aws-ecs = "*"
aws-cdk-aws-logs = "*"
aws-cdk-aws-iam = "*"
spotify-refresh-token-generator = "*"

[requires]
python_version = "3.8"
